*{
    padding: 0px;
    margin: 0px;
}
ul li {
    list-style: none;
}
a{
   text-decoration: none;
}
.clear{
    clear:both
}
.nav{
    position: fixed;
    width: 100%;
    top: 0;
}
#top{
    height: 50px;
}
#top div{
    float: left;
}
#top .header_left{
    width: 10%;
    margin-left:15%; 
    line-height: 50px;
    text-align: center;
    color: #fff;
}
#top .header_center{
    width: 45%;
    color: #fff;
}
#top .header_right{
    width: 15%;
    line-height: 50px;
    text-align: center;
    color: #fff;
}
#top .out{
    width: 50px;
    float: right;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    color: #fff;
}
#slider_nav{
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
@media(min-width: 1024px){
    #top .header_center ul li{
        float: left;
        font-size:1.3rem;
        margin:0px 8%;
        line-height: 50px;
    }
    #slider_nav,#top .out{
        display: none;
    }
    .routerview img{
        height:600px;
    }
}
@media screen and (min-width:768px) and (max-width: 1024px){
    #top .header_center ul li{
        float: left;
        font-size:1.3rem;
        margin:0px 6%;
        line-height: 50px;
    }
    #slider_nav,#top .out{
        display: none;
    }
    .routerview img{
        height:400px;
    }
}
@media screen and (max-width: 768px){
    #top .header_center,#top .header_right{
        display: none;
    }
    #top .out{
        display: block;
    }
    #top .header_left{
        margin-left:2%; 
    }
    .routerview img{
        height:280px;
    }
}
.routerview img{
    width: 100%;
    margin-top: -50px;
}
#slider_nav .slider_list{
    width: 250px;
    height: 220px;
    position: absolute;
    right: 0;
    background: #424242;
    opacity: 0;
    z-index: -1;
}

#slider_nav .slider_list ul li{
    line-height: 40px;
    margin: 0px 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    font-size: 1.2rem;
}
#slider_nav .slider_list ul li a{
    color: #fff;
}

.footer{
    width: 100%;
    height: 150px;
    background: #222222;
    margin-top: 20px;
    color: #fff;
}

